* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: larger;
}

form {
    background-color: aliceblue;
    padding: 2.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

label {
    min-width: 100px;
    font-family: monospace;
}

input {
    flex: 1;
    padding: 0.5rem;
}

button {
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    min-width: 150px;
    background-color: transparent;
    border-radius: 5px;
    border-color: darkgrey;
    text-transform: uppercase;
}

button:hover {
    background-color: white;
}